
@media only screen and (max-width: 1108px) {
    body {
        background-color: darkblue;
    }

    .wrapper {
        width: 90%;
    }

    #social {
        position: absolute;
        width: auto;
        margin: 82px 4px 0 0;
    }
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 90%;
        background-color: darkred;
    }

    #logo h1 {
        height: 35px;
        width: 35px;
    }

    #social {
        top: 72px;
    }

    .col-3 p {
        column-count: 2;
    }
}

@media only screen and (max-width: 750px) {
    #navbar nav a {
        font-size: 0.9em;
    }

    .col-3 p {
        column-count: 1;
    }

    .col-1, .col-2, .col-3 {
        width: 100%;
        margin-left: 0;
        float: none;
    }

    .border-right {
        border-right: 0;
    }

    #details div {
        height: auto;
    }
}